<header class="py-4 w-full flex flex-col items-center">
  <div class="text-center w-full">
    <h1 class="text-5xl uppercase" style="font-family: 'Honk', 'Bungee Spice', sans-serif;">{{title}}</h1>
    <div class="border-b-2 border-gray-300 pb-2 mb-4 w-full"></div>
  </div>
  <nav class="w-full flex items-center justify-between uppercase">
    <div class="flex items-center" style="width: 300px;">
      <app-hero-search class="mt-8 w-full"></app-hero-search>
    </div>
    <div class="flex items-center justify-center flex-grow">
      <button class="px-7 py-7 text-xxxl hover:text-sky-500 ease-in duration-200" [routerLink]="['/dashboard']">Dashboard</button>
      <button class="px-7 py-7 text-xxxl hover:text-sky-500 ease-in duration-200" [routerLink]="['/heroes']">Heroes</button>
    </div>
    <div class="flex items-center" style="width: 300px;"></div> <!-- Balancing div with fixed width -->
  </nav>
  <div class="border-b-2 border-gray-300 pb-2 mb-4 w-full"></div>
</header>

<main class="flex-grow w-full flex flex-col items-center">
  <router-outlet></router-outlet>
</main>

<footer class="py-4 w-full flex flex-col items-center">
  <div class="border-b-2 border-gray-300 pb-2 mb-4 w-full"></div>
  <div class="container mx-auto flex justify-between items-center w-full">
    <div class="flex items-center space-x-4">
      <app-hero-form class="w-full"></app-hero-form>
    </div>
  </div>
</footer>
